example-report-issue/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
  <!--

    Mule Jira Cloud Connector Copyright (c) MuleSoft, Inc. All rights
    reserved. http://www.mulesoft.com The software in this package is
    published under the terms of the CPAL v1.0 license, a copy of which
    has been included with this distribution in the LICENSE.txt file.
  -->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:jira="http://www.mulesoft.org/schema/mule/jira"
  xmlns:json="http://www.mulesoft.org/schema/mule/json" 
  xmlns:mongodb="http://www.mulesoft.org/schema/mule/mongodb"
  xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
  xmlns:spring="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/1.0/mule-jira.xsd
       http://www.mulesoft.org/schema/mule/core    http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.mulesoft.org/schema/mule/json    http://www.mulesoft.org/schema/mule/json/3.1/mule-json.xsd
       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd 
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd">

  <jira:config name="JiraTest" username="${jiraUsername}"
    password="${jiraPassword}" address="${jiraAddress}" />


  <flow name="MainFlow">
    <description>Creates an issue in a Jira server with the given
      summary
      and description</description>
    <http:inbound-endpoint host="localhost" port="9090"
      path="jira-demo-report-issue" />
    <bean-builder-transformer
      beanClass="com.atlassian.jira.rpc.soap.beans.RemoteIssue">
      <bean-property property-name="summary" evaluator="header"
        expression="inbound:summary" />
      <bean-property property-name="description"
        evaluator="header" expression="inbound:description" />
    </bean-builder-transformer>
    <jira:create-issue issue="#[payload]" />
  </flow>
</mule>
