src/test/resources/jira-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
  <!--

    Mule Jira Cloud Connector Copyright (c) MuleSoft, Inc. All rights
    reserved. http://www.mulesoft.com The software in this package is
    published under the terms of the CPAL v1.0 license, a copy of which
    has been included with this distribution in the LICENSE.txt file.
  -->

  <!--

    This file was automatically generated by the Mule Cloud Connector
    Development Kit
  -->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans" xmlns:jira="http://www.mulesoft.org/schema/mule/jira"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
                          http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/1.0/mule-jira.xsd">

  <jira:config username="auser" password="apassword"
    address="andendpoint" />

  <flow name="CreateIssue">
    <inbound-endpoint address="vm://CreateIssue"
      exchange-pattern="request-response" />
    <jira:create-issue issue="#[map-payload:anIssue]" />
  </flow>

  <flow name="DeleteIssue">
    <inbound-endpoint address="vm://DeleteIssue"
      exchange-pattern="request-response" />
    <jira:delete-issue key="akey" />
  </flow>

  <flow name="GetIssue">
    <inbound-endpoint address="vm://GetIssue"
      exchange-pattern="request-response" />
    <jira:get-issue key="akey" />
  </flow>



</mule>
